@import "../../styles/variables.scss";

.wrapper {
  background-color: $yellow;
  font-family: $font-heading;
  padding: 60px;
}

.heading {
  color: $blue;
  text-shadow: -0.1em 0.1em 0 $red;
  font-size: 32px;
  margin-bottom: 30px;
}

.itemsWrapper {
  display: flex;
  justify-content: space-between;
}

.items {
  $border-size: 5px;
  background-color: white;
  border: $border-size solid $blue;
  box-shadow: -$border-size $border-size 0 $red,
    -$border-size $border-size 0 $red inset;
  font-size: 20px;
  list-style: disc inside;
  padding: 30px;
  width: calc(50% - 10px);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
