$border-offset: 5px;
$quote-flair-offset: 20px;

.wrapper {
  background-color: var(--pink);
  color: var(--blue);
  font-family: var(--font-heading);
  font-size: 28px;
  padding: 20px;
  text-align: center;
  text-shadow: -$border-offset $border-offset 0 var(--yellow);

  * {
    line-height: inherit;
  }
}

.borderWrapper {
  border: $border-offset solid var(--blue);
  box-shadow: -$border-offset $border-offset 0 0 var(--yellow),
    -$border-offset $border-offset 0 0 var(--yellow) inset;
  padding: 60px;
}

.quote {
  font-size: 2em;
  position: absolute;
  top: 10px;
}

.quotePre {
  left: 20px;
}

.quotePost {
  right: 20px;
}
