@import "../../styles/variables.scss";

.wrapper {
  align-items: center;
  background-color: $black;
  color: white;
  display: flex;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 800;
  justify-content: space-between;
  padding: 0 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.titleLink {
  align-items: center;
  color: white;
  display: flex;
  text-decoration: none;
  padding: 15px 0;
}

.logo {
  display: block;
  margin-right: 15px;
}

.linksList {
  display: flex;
}

.link {
  color: $red;
  display: block;
  text-decoration: none;
  padding: 20px;

  &::before {
    background-color: currentColor;
    bottom: 10px;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.25s;
    width: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

.linkActive {
  color: $white;
}

.activeChar {
  color: $red;
}
