// Colors

$gray: #d4d2d5;
$yellow: #ffe066;
$blue: #2b59c3;
$red: #f25f5c;
$pink: #ffeaee;
$purple: #673ab7;
$black: #272932;
$white: #fcfcfc;

// Type

$font-heading: "Montserrat", sans-serif; // 700, 800
$font-body: "Lora", serif; // 400, 700, italic
$font-code: "Fira Code", monospace; // 400
